@model ShowImages.Utility.ImageJson
@{
    ViewData["Title"] = "JSON Information";
}
<style>
    img {
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 10px;
        width: 340px;
        height: 200px;
    }
</style>
<div class="row">
    <div class="col-md-4">
        <img src="@Model.URL" alt="@Model.URL" />
    </div>
    <div class="col-md-8">
        @Model.JSON
    </div>
</div>
